.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    @extend .container-items-flex;
    border: 1px solid $border-color;
    border-radius: $border-radius-base;
    padding: $container-padding;

    &-title {
      margin-top: 0px;
      margin-bottom: 50px;
    }

    &-form {
      @extend .container-items-flex;

      * {
        @extend .main-items;
      }

      &-title {
        text-align: center;
        margin-bottom: 20px;
      }

      &-input {
        outline-style: none;
        background: transparent;
        border: 0px;
        border-bottom: 1px solid $border-color;
      }

      &-forgotten-password {
        text-decoration: none;
        color: $primary-color;
      }

      &-login {
        @include btn-variant($primary-color, transparent, 100%);
      }

      &-register {
        @include btn-variant($white, $primary-color, 100%);
      }

      span {
        text-align: center;
      }
    }
  }
}

.main-items {
  width: 100%;
  margin-bottom: 10px;
}

.container-items-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
