@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin btn-variant($color, $bg-color, $width) {
  padding: 10px;
  width: $width;
  text-align: center;
  border: 1px solid $primary-color;
  border-radius: 80px;
  color: $color;
  background-color: $bg-color;
  margin-right: 5px;
}
